.container {
  max-width: 1170px;
  margin: auto;
}
img {
  max-width: 100%;
}
.rooms_container {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}
.chat_inbox {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac {
  margin: 20px 0 0;
}

.search_heading {
  float: left;
  width: 40%;
}
.search_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.search_input {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.search_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.search_bar input {
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}
.chat_ib h5 span {
  font-size: 13px;
  float: right;
}
.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}
.chat_room {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.chats_history {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.chat_app {
  padding: 0 0 50px 0;
}
.messages_history {
  height: 516px;
  overflow-y: auto;
}

.incoming_message_img {
  display: inline-block;
  width: 6%;
}
.received_message {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_message p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.message_timedate {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_message {
  width: 57%;
}
.messages_container {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_message p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing_message {
  overflow: hidden;
  margin: 26px 0 26px;
}
.sent_message {
  float: right;
  width: 46%;
}
